#container {
    width: 500px;
    margin: 0 auto;
    border: 2px solid grey;
}

.linethrough {
    color: grey;
    text-decoration-line: line-through;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 500ms linear;
}
