* {
    box-sizing: border-box;
}

.container {
    border: 2px solid gray;
}

.header {
    background-color: #FF4040;
    text-align: center;
    padding: 15px;
}

h1 {
    color: white;
    font-size: 35px;
}

input {

}

ul {
    margin: 0;
    padding: 0;
}

ul, li {
    cursor: pointer;
    position: relative;
    padding: 10px 12px 10px 40px;
    font-size: 20px;
}