body {
    font-family: 'Neucha', cursive;
    background: rgb(255,95,109);
    background: linear-gradient(180deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    padding: 10px 0;
    color: white;
    background: #ffae00;
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    font-weight: normal;
}

.la-pencil-square-o {
    color: white;
}

.la-pencil-square-o:hover {
    cursor: pointer;
}

input {
    font-size: 18px;
    background-color:#f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: black;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: white;
    border: 3px solid #ffae00;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: black;
}

/* every other */
li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover {
    cursor: pointer;
}

span {
    background: #f0220c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

/* add if icon is enclosed in a <span> */
.la-trash-o {
    pointer-events: none;
  }

#container {
    width: 600px;
    margin: 100px auto;
    background: #f7f7f7;
    border: 2px solid grey;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1)
}


.linethrough {
    color: grey;
    text-decoration-line: line-through;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 500ms linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 2s, opacity 500ms linear;
}